
/* FIXED NAVBAR TWEAKS */
body { font-size: 16px; line-height: 25px; color: #646464;}

h1, h2, h3, h4, h5 { }
h1 { }
h2, h3, h4, h5 { padding-top: 0; }

/* GENERAL OVERRIDES */

a:link, a:visited { color: #4073ad;}
a:hover, a:focus { color: #162738; text-decoration: none; }

.breadcrumb a { color: #164672;}
.breadcrumb a:hover { color: #31AEEC; }

.view-interior-hero img { max-width: inherit;}

#header { background: #FFF;border-bottom: none; }

.section { padding: 30px 0; }
.section h3 a { color: #164672; }

.row { margin:0!important; }

.main-container.container, #page-content { padding: 0;}

/* SEARCH PAGE */

form#views-exposed-form-search-page input {
    width:95%;
    color: #777;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    padding: 5px 10px;
}

/* NAVBAR */
#slidemenu { display: none; }
.navbar-search {
    padding-top: 5px;
    margin-left: 15px;
}

.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1170px;
    position: relative;
}
.navbar .brand {
    display: block;
    float: left;
    padding: 10px 20px 10px 0;
    margin-left:0;
    font-size: 20px;
    font-weight: 200;
    color: #777;
    text-shadow: none;
}
.navbar .brand img {
    float: left;
    height: inherit;
    margin:0;
}
#navbar {
    background: #FFF;
    margin-bottom: 0;
    border-bottom: 1px solid #CCC;

}
.caret {display: none;}
.navbar-inner {
    min-height: 90px;
    padding-right: 0;
    padding-left: 0;
    background-color: #CCC;
    background-image: none;
    background-repeat: repeat-x;
    border: none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    filter:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow: none;
}

.navbar .nav {
   
}
.navbar .nav-collapse { 
    float: left; 
    padding-left: 120px; 
    clear: right;
}
.navbar .nav li {
    /*height: 36px;*/
    /*padding-top: 5px;*/
}

.navbar .nav li a {
    font-size: 14px;
    text-transform: uppercase;
    /*color: #333;*/
    text-shadow: none;
    padding: 0 20px;
    line-height: 40px;
    display: block;
}
/*.navbar .nav li a:hover {  color: #666; }*/
.navbar .nav > li:hover, .navbar .nav li.dropdown.active {
   
}
/* DROPDOWN MENU */

.navbar .nav li.dropdown ul.dropdown-menu {
    background: #FFF;
    min-width: 200px;
   
    /*border-radius: 0 0 8px 8px;*/
}
.navbar .nav li.last > ul.dropdown-menu {
  right:0;
  left: auto;
}
.dropdown-menu {
    /*top:100%;
    border:none ;
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);*/
}
.navbar .nav li.dropdown ul.dropdown-menu li {
    /*height: 50px;*/
}
.navbar .nav li.dropdown ul.dropdown-menu > li > a {
    /*line-height: 50px;
    background-position: 20px 10px;
    height: 50px;
    font-weight: normal;
    text-transform: none;*/
}
.navbar .nav li.dropdown ul.dropdown-menu > li > a:hover { }

/*
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: #333;
    background-color:inherit;
    text-decoration: none;
}
*/
/*
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus, .navbar .nav li.dropdown ul.dropdown-menu > li.active > a.active-trail {
    text-decoration: none;
    background-color:inherit;
    box-shadow:none;
}
*/

/* GLOBAL MENU */

.global-menu { float: right; z-index: 999; padding-top: 0;}
.global-menu li {float: left!important; list-style: none;}
.global-menu li a { color: #777; text-decoration: none; font-size: 14px; display: block;}
.global-menu li a:hover { color: #ff1836; text-decoration: none;}

 /* MOBILE PAGE MENU */
#pageslide #slidemenu { overflow: auto; display: block;}
#pageslide #slidemenu .navbar-nav { margin: 0;}
#slidemenu ul.nav>li.expanded { display: block!important; width: 100%; float: none;}

#slidemenu ul.nav >li> a { color: #FFF; text-transform: uppercase;}
#slidemenu ul.nav li.dropdown >ul.dropdown-menu { 
  display: block!important;
  float: none;
  background: #113C61;
  border-radius: 0!important;
  min-width: 1px;
  width: 100%;
  position: relative;
  box-shadow: none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  margin: 0;
  padding: 0;
  height: auto;
  overflow: hidden;
}
.navbar-nav>li>a {
text-shadow: none;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
background-color: inherit;
color: #FFF;
}
#slidemenu ul li>ul.dropdown-menu.in { border-bottom: 1px dotted #5e8ab4; }
#slidemenu ul li>ul.dropdown-menu>li>a { 
  padding: 10px 15px 10px 25px; 
  color: #DDD;
  border-bottom: 1px solid #133049;
}
#slidemenu ul li>ul.dropdown-menu>li.last>a { border-bottom: none!important; } 
#slidemenu ul li a:hover {background: inherit!important;}
#slidemenu button.close {
float: right;
font-size: 27px;
font-weight: 700;
line-height: 1;
color: #000;
text-shadow: 0 1px 0 #fff;
opacity: .4;
filter: alpha(opacity=40);
padding: 3px 5px;
}

/* HERO */
/*
#hero {
    padding:40px 0;
    background: #e2e2e2;
}
*/

/*#hero h1 { color: #333;  font-size: 48px; line-height: 52px;}*/

/*#hero .lead { color: #333; font-size: 22px; }*/
#main { padding: 30px 0 0;}

.posted { 
    color: #999;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
}
/* RESPONSIVE VIDEOS STYLES */
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } 
.embed-container iframe, 
.embed-container object, 
.embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }




/* FEEDS */

.feed-item { padding: 20px 0; border-bottom: 1px solid #DDD;}
.feed-image { padding: 0;}
.feed-image img {width: 100%; height: auto;}

/* HOMEPAGE */


.ih-item.square { width: 100%;}
/*h3.spotlight-title { padding: 10px 0!important;}*/
.page-cta { background: #C0C0C0; text-align: center;}
.btn-chat-cta {
    background: #454545; 
    color: #FFF !important;
    padding: 20px 50px;
    font-size: 24px; 
    text-transform: uppercase;
    margin: 20px auto;
    white-space: normal;
}

/* T108 */
.node-type-t108 .section{
    padding: 20px 0;
}
/* FEED T203 */
.view-article-feed .views-field-field-image { float: left; margin-right: 10px; clear: left;}
.view-article-feed .views-row {
    clear: both; 
    padding: 10px 0; 
    border-bottom: 1px solid #DDD;
}

/* T203 Feed with Filter */
.page-t203-feed table tr td {
    padding: 20px;
    border-bottom: 1px dotted #DDD;
}

/* PAGE T203 */
.node-type-t203 .group-left {
    width: 30%;
}
.node-type-t203 .group-right {
    width: 70%;
}
/* HP701  */

.node-type-hp701 #main { padding: 0;}
.node-type-hp701 .hp701-section {
  padding: 40px 0;
}
.hp701-front-section {
  padding: 40px 0;
}
.node-type-hp701 .hp701-section.odd { background: #e2e2e2; }
.node-type-hp701 .hp701-section.odd .summary-image { float: right; }

.node-type-hp701 #clients { 
  background: #F8F8F8;
  padding: 40px 0;
}
.node-type-hp701 .list_carousel {
position: relative;
margin: 0;
height: 125px;
overflow: hidden;
}
.node-type-hp701 .list_carousel li {
font-size: 40px;
color: #999;
text-align: center;
height: 125px;
padding: 0;
margin: 0;
display: block;
float: left;
width: 120px;
}
.node-type-hp701 .list_carousel .prev {
position: absolute;
top: 30px;
left: 5px;
}
.node-type-hp701 .list_carousel .next {
position: absolute;
top: 30px;
right: 5px;
left: auto;
}
.node-type-hp701 .carousel-control {
z-index: 10;
}
.node-type-hp701 .carousel-control {
left: 0;
background:none;
border: none;
border-radius: 0;
font-size: 150px;

}
.node-type-hp701 .carousel-control:hover, .node-type-hp701 .carousel-control:focus {
color: #ffffff;
text-decoration: none;
opacity: 0.9;
filter: alpha(opacity=90);
}

ul#hp701-logo-list { padding: 0;}


/* T702 */

.section { padding: 30px 0; }
.node-type-t702 .section.odd .section-img { float: right; }
.node-type-t702 .section .section-detail .child { padding: 40px 0; }
.section.odd { background: #F8F8F8;}


/* BLOG */


  /* blog feed page */
  .sky-blue { color:#64CCEF; }
  .navy-blue { color: #507BBE; }
  .orange { color: #D77600;}
h3.blog-title-feed,
h3.blog-title-feature {
  margin: 0;
  text-transform: uppercase;
  font-size: 34px;
}
h3.blog-title-feed a, 
h3.blog-title-feature a { color: #666; }

h3.blog-title-feature { font-size: 42px; margin-top: 20px;}

.view-id-news_feed .views-row,
.view-id-blog .views-row {
  padding-bottom: 40px;
  padding-top: 40px;
  border-bottom: 1px dotted #DDD;
}

.view-id-news_feed,
.view-id-blog img {
  width: 100%;
  height: auto;
}


.blog-info { 
  color: #B0B0B0;
  text-transform: uppercase;
  padding: 20px 0;
  font-size: 16px;
}
.blog-info span.fa { color: #E0E0E0;}
.blog-info .blog-category { text-transform: none!important; }
.blog-info a:link, .blog-info a:visited {
  color: #B0B0B0;
  border-bottom: 1px solid #CCC; 
  font-weight: 600; 
  -webkit-transition:color 200ms ease-in;
  -moz-transition:color 200ms ease-in;
  -o-transition:color 200ms ease-in;
  transition:color 200ms ease-in;
}
.blog-info a:hover {
  color:#333;
}
.blog-text-feature, .blog-text {
  font-size: 21px;
  line-height: 30px;
}
.blog-read-btn {
  background: #ffffff;
  color: #666!important;
  border: 1px solid #666;
  border-radius: 6px;
  -moz-border-radius:6px;
  -webkit-border-radius: 6px;
  padding: 0 20px;
  text-transform: uppercase;
  font-size:12px;
  line-height: 40px;
  margin-top: 20px;
   -webkit-transition:all 200ms ease-in;
  -moz-transition:all 200ms ease-in;
  -o-transition:all 200ms ease-in;
  transition:all 200ms ease-in;
}
.blog-read-btn:hover {
  background: #666;
  color: #ffffff !important;
  -webkit-transition:all 200ms ease-in;
  -moz-transition:all 200ms ease-in;
  -o-transition:all 200ms ease-in;
  transition:all 200ms ease-in;

}
.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #666;
  background-color: #fff;
  border: 1px solid #666;
  margin-left: -1px;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
  color: #ffffff;
  background-color: #666;
  border-color: #666;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  z-index: 2;
  color: #fff;
  background-color: #666;
  border-color: #666;
  cursor: default;
}
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
  color: #999;
  background-color: #fff;
  border-color: #666;
  cursor: not-allowed;
}
/* aside blog */
aside .block {
  margin-bottom:60px;
  font-size: 21px;
  line-height: 30px;
}
.cta-block-blog h3 {
  font-size: 26px;

}
.block.blog-search {
  margin-bottom: 34px;
}
.blog-subscribe {
  background-color: #fafafa;
}
.blog-subscribe h3 {
  padding: 22px 20px 0;
  margin-bottom: 0;
}
.blog-subscribe .content {
  padding: 0 14px 10px;
}
.node-type-blog #page-header, .page-blog #page-header { min-height: 1px; }



/* blog post page */
h1#blog-title { margin-top: 40px; font-size: 50px;  }
.section { padding: 40px 0; }
.blog-image { text-align: center; padding-top: 30px;}
.blog-image img { max-width: 100%;}
.btn-comments { 
  border:1px solid #999;
  padding: 10px 40px;
  font-size: 24px; 
  color:#FFF;
  background:  #999;
}
.btn-comments:hover, .btn-comments:active, .btn-comments:focus {
  color: #FFF!important;
  background: #777;
}
.social-title {font-size: 21px; text-align: right;}
.node-type-blog .views-row {padding: 0!important; border: none!important;}
.node-type-blog .blog-related { padding: 0 20px;}
#blog-social a { border-bottom: none!important;}
.related-blogs-title { }
.blog-related h4 { 
  font-size: 24px;
  text-transform: uppercase;
}
.blog-related h4 a { color: #666; border-bottom: none;}
.blog-related .related-image { width: 100%; height: auto; }
.source-return { font-size: 21px; }
.page-user h1.page-header {display: none;}
#related-blogs .section,
.signup-blog-page .section,
.source-return .section { border-top: 1px dotted #DDD; }
.signup-blog-page iframe#iFrameResizer0 { width: 50%; background-color: #fafafa; }
#pardot-cta .pardot-cta { border-top: 1px dotted #DDD;}
/* BLOG POPULAR FEED */
.blog-pop-feed .views-row {
  padding: 15px 0;
}
.blog-pop-feed h4 {
  margin: 0;
}
.blog-pop-feed h4 a { color: #666; font-size: 16px; }
.blog-popular { padding: 0;}
.blog-popular img { width: 100%; height: auto;}

/* blog search */
.blog-search { margin-top: 40px !important}
.blog-search .views-submit-button {
  position: relative;
  float: none;
  padding: 0;
  margin: 0;
}
.blog-search .btn-primary {
  color: #FFF;
  background: url(images/search-icon.png) center no-repeat scroll #666;
  border-color: inherit;
  padding: 0;
  width: 70px;
  height: 40px;
  text-indent: 9999px;
  overflow: hidden;
  position: absolute;
  top: 11px;
  right: 0;
  margin: 0!important;
  border-radius:0 4px 4px 0;
  -moz-border-radius:0 4px 4px 0;
  -webkit-border-radius:0 4px 4px 0;
}
.blog-search input.form-text {
  border: 1px solid #666;
  border-radius: 0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  height: 40px;
  padding: 3px 5px 3px 5px;
}
/* WRITER PAGE FEED */
.writer-photo { padding: 0;}
.writer-photo img { width: 70%;}
.writer-posts h3 { margin-top: 0; font-size: 34px;}
.writer-posts h3 a {
  
  color: #666;
}
.views-row-first.category-posts {
padding-top: 40px;
}
.category-posts,
.writer-posts .views-row {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px dotted #DDD;
}
h3.writer-name {
  margin-bottom: 0;
  font-size: 36px;
}
.writer-title {
  
  text-transform: uppercase;
  font-size: 21px;
}
.writer-name-info { padding:0;}
.user-social-media ul {
  padding: 0;
  margin: 20px 0 0;
}
.user-social-media ul li {
   list-style: none;
   padding-left: 0;
   margin-left: 0;
}
.user-social-media ul li a {
  color: #666;
  border-bottom: 1px solid #666;
  font-size: 18px;
  line-height: 24px;
  padding: 7px 0 0;
  margin-bottom: 7px;
  display: inline-block;
}
.blog-feed-image img {
    width: 100%;
    height: 100%;
  }
.views-row-first.category-posts { padding-top: 40px;}
/* PARTNERS */
.card-item { margin-bottom: 30px!important;}
.card-content {
  position: relative; padding: 0;
  border: 1px solid #D0D2D3;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.card-intro { 
  position: relative;
  min-height: 190px;
  padding:35px 15px 50px;

}
.card-content.no-expand .card-intro { padding-top: 55px;}
.intro-expanded.in { padding: 20px 0;}
.expand-section {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #F6F6F6;
  height: 40px;
  text-align: right;
  -webkit-transition: background 200ms ease-out;
  -moz-transition: background 200ms ease-out;
  -o-transition: background 200ms ease-out;
  transition: background 200ms ease-out;
}
.expand-section .expand { 
  font-size: 12px; 
  padding-top: 13px;
  display: block;
  border-bottom: none;
  padding-right: 15px;
  color: #3F3F3F;
}
.client-logo { margin: 0 auto; display: block; float: none;}

.expand-section .expand span.fa {font-size: 16px;}

.card-content:hover {
  border-top: 1px solid #4073ad;
  border: 1px solid #4073ad;
  background: #FFF;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.card-content.card-expanded, .card-content.opened:hover {border:1px solid #4073ad!important;}
.card-content:hover .expand-section, 
.card-expanded .expand-section { 
  background: #4073ad; 
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.card-content:hover .expand-section .expand,
.card-content .expand-section:hover .expand,
.card-expanded .expand { color: #FFF!important;}
.card-content.opened {
background: #F6F6F6;
border: 1px solid #F6F6F6;
border-top: 1px solid #F6F6F6;
-webkit-transition: all 200ms ease-in;
-moz-transition: all 200ms ease-in;
-o-transition: all 200ms ease-in;
transition: all 200ms ease-in;
}

.card-content.no-expand:hover { cursor: default; }
.expand-collapse { display: none; }
.card-expanded .expand-default {display: none;}
.card-expanded .expand-collapse { display: block;}

/* T904 */

.node-type-t904 .section-set { padding: 15px 0;}




@media (max-width: 991px) {
  .expand {
    
    display: block;
    text-align: right;
    border: none!important;
    border-radius:0;
    color: #FFF;
  }
  .card-expanded a.expand,
  .card-content:hover .expand-section .expand,
  .card-content .expand-section:hover .expand,
  .card-expanded .expand { color: #FFF!important;}

  
  .card-content .expand-section {     background: #a9ae37;   }
}
@media screen and (max-width: 1199px) {
  body {
    font-size: 14px;
    line-height: 20px;
  }

  
  .navbar .nav-collapse { padding-right: 0; padding-left: 0; float: right; }
  #features h3 {
    font-size: 15px;
  }
  .overlay-box  {
    line-height: 18px;
    font-size: 14px;
    color: #164672;
  }
  .field-name-field-partners .field-collection-view {
    height: 355px;
    text-align: center;
  }
  .blog-pop-title {padding: 0;}

}

@media screen and (max-width: 991px) {
  .blog-image { text-align: center; padding-top: 0;}
  .blog-info { font-size: 14px; padding: 10px 0;}
  .navbar-header { width: 100%;}

}

@media screen and (max-width: 767px) {
  #hero h1 { font-size: 24px; line-height: 120%;}
  #hero .lead { font-size: 16px;}
  a.logo img { height: 20px;}
  h1.page-header { font-size: 22px;}
  h1#blog-title { 
    margin-top: 20px; 
    font-size: 24px;
  }
  h3.blog-title-feed {
    font-size: 24px;
  }
  h3.blog-title-feature {
    font-size: 26px;
  }
  .hp701-section h2 { font-size: 22px;}
  .hp701-section h2 .sub-heading { font-size: 16px;}
  .blog-text-feature, .blog-text {
    font-size: 16px;
    line-height: 20px;
  }
  .view-id-blog .views-row {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .category-posts,
  .writer-posts .views-row {
    padding-bottom: 20px;
    margin-bottom: 20px;
    
  }
  .views-row-first.category-posts { padding-top: 20px;}
  .blog-read-btn {
    font-size: 18px;
    padding: 0 20px;
    line-height: 40px;
  }
  .social-title {text-align: center;}
  .social-title span.share-title {
     display: block!important; float: none; clear: both; line-height: 34px;
  }
  .btn-comments { width: 80%;}
  .comment-trigger { text-align: center; padding-top: 20px;}
  .section { padding: 20px 0; }
  .node-type-blog .blog-related {
    padding: 20px;
    border-bottom: 1px dotted #DDD;
  }
  .signup-blog-page .section { border-top: none!important; }
  .user-social-media ul { margin-top: 0;}
  .user-social-media ul li { margin: 0 7px;   float: left; }
  h3.writer-name { margin-top: 0;}
  .writer-info { margin-bottom: 20px; padding-bottom: 10px; border-bottom: 1px solid #CCC; }
  .writer-name-info { padding-left: 15px; padding-right: 15px;}
  /*.node-type-t904 .section-icon img {width: 100%; height: auto;}*/
}

/* ==========================================================================
   Customization
   ========================================================================== */

/* ==========================================================================
   Basic Styles
   ========================================================================== */

body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  color: #162738;
}

h1 { 
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid #4073ad;
}
h2 {
  font-size: 24px;
  font-weight: 400;
}
h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
h4 {
  font-size: 16px
}
 
p { 
  font-size: 16px;
  line-height: 26px;
    margin: 0 0 16px 0;
    color: #7c7a7b;
}
 
small { font-size: 8px }

.lead { font-size: 23.75px }

p a {
  color: #4073ad; text-decoration: underline;
}

p a:hover {
  color: #162738; text-decoration: none;
}

@media (max-width: 991px) {
  body, p { font-size: 14px; }
  p { line-height: 24px; }
  h1 { font-size: 28px; }
  h2 { font-size: 20px; }
  h3 { font-size: 16px; }
  h4 { font-size: 14px }
  .lead { font-size: 18px }
}

.caret {
  display: inline-block;
}

.btn {
  white-space: normal;
}

/* ==========================================================================
   Global Navbar
   ========================================================================== */

.global-nav {
  min-height: 30px;
  margin-bottom: 0;
  background-color: #162738;
  display: block;
  text-transform: uppercase;
}

.global-nav .container {
  padding-left: 0;
  padding-right: 0;
}

.global-nav .navbar-nav>li>a {
  font-size: 12px;
  line-height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  text-shadow: none;
  text-decoration: none;
  /* border-right: 1px solid #4073ad; */
  -webkit-transition: background-color 200ms ease-out;
  -moz-transition: background-color 200ms ease-out;
  -o-transition: background-color 200ms ease-out;
  -ms-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
}

.global-nav .navbar-nav>li.last>a {
  background-color: #91ad3b;
}

.global-nav .navbar-nav>li>a:hover,
.global-nav .navbar-nav>li.last>a:hover {
  background-color: #4073ad;
  -webkit-transition: background-color 200ms ease-in;
  -moz-transition: background-color 200ms ease-in;
  -o-transition: background-color 200ms ease-in;
  -ms-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
}

.global-nav .navbar-nav>li.last>a:before {
  position: relative;
  right: 5px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-size: 9px;
  line-height: 10px;
  content: "\e008";
}

.global-nav .form-control {
  height: 30px;
  font-size: 12px;
  color: #162738;
  background-color: #9ebfdd;
  border: none;
  border-radius: 0;
}

.global-nav .search-form {
  height: 30px;
}

.global-nav .btn {
  font-size: 12px;
  height: 30px;
  border: none;
  border-radius: 0;
}

.global-nav .btn-default {
  color: #fff;
  background-color: #274567;
  background-image: none;
  text-shadow: none;
  text-transform: uppercase;
}

.global-nav .btn-default:hover,
.global-nav .btn-default:focus {
  color: #fff;
  background-color: #4073ad;
}

input[name="keys"]::input-placeholder {
  color: #162738;
}

input[name="keys"]::-webkit-input-placeholder {
   color: #162738;
}

input[name="keys"]:-moz-placeholder { /* Firefox 18- */
   color: #162738;  
}

input[name="keys"]::-moz-placeholder {  /* Firefox 19+ */
   color: #162738;  
}

input[name="keys"]:-ms-input-placeholder {  
   color: #162738;  
}

/* ==========================================================================
   Navbar
   ========================================================================== */

.navbar {
  margin-bottom: 0;
  border: none;
}

.navbar .navbar-inverse {
  min-height: 70px;
}

.navbar-inverse {
  background-color: #4073ad;
  /*border-bottom: 8px solid #4e7db3;*/
  background-image: none;
  filter: none;
}

.navbar-inverse .container {
  padding-right: 0;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  padding: 24px 15px;
  text-shadow: none;
  text-decoration: none;
  -webkit-transition: background-color 200ms ease-out;
  -moz-transition: background-color 200ms ease-out;
  -o-transition: background-color 200ms ease-out;
  -ms-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
}

.navbar-inverse .navbar-nav>li>a:hover {
  background-color: #162738;
  -webkit-transition: background-color 200ms ease-in;
  -moz-transition: background-color 200ms ease-in;
  -o-transition: background-color 200ms ease-in;
  -ms-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
  background-color: #162738;
  background-image: none;
  -webkit-transition: background-color 200ms ease-in;
  -moz-transition: background-color 200ms ease-in;
  -o-transition: background-color 200ms ease-in;
  -ms-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #162738;
  color: #fff;
}

.navbar-brand {
  height: 68px;
  padding: 18px 15px 18px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #162738;
  -webkit-transition: background-color 200ms ease-in;
  -moz-transition: background-color 200ms ease-in;
  -o-transition: background-color 200ms ease-in;
  -ms-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
}

.navbar-inverse .navbar-toggle {
  border-color: #162738;
}

.navbar-inverse .btn-default {
  margin-top: 8px;
  color: #4073ad;
}

.mobile-menu-title {
  margin-left: 15px;
  margin-top: 12px;
}

.dropdown-menu {
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  background-color: #fff;
  border: none;
  border-radius: 0;
}

.dropdown-menu>li>a {
  padding: 10px 20px;
  color: #4073ad;
  text-decoration: none;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
  background-image: none;
  background-color: #4073ad;
  text-decoration: none;
  box-shadow:none;
}

/* ==========================================================================
   Homepage Hero
   ========================================================================== */

.jumbotron {
  padding: 30px 0 0;
  background: #9dbde6;
  background-image: url(images/hm-bkg.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1#home-title {
  border-bottom: none;
  text-align: center;
}

.jumbotron h1, .jumbotron .h1 {
  font-weight: 500;
  line-height: 1.28;
  text-transform: none;
  color: #1c2637;
}

#hero-spotlights {
  padding-bottom: 50px;
}

#hero-spotlights .col-sm-4 {
  padding-left: 0;
  padding-right: 0;
}

#hero-spotlights .img {
  margin-bottom: -25px;
}

#hero-spotlights img {
  position: relative;
  z-index: 100;
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
  background: #fff;
  border: 9px solid #c1d82f;
  border-radius: 150px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

#hero-spotlights a:hover img {
  background-color: #e6e9c8;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
#hero-spotlights a:hover .info {
  background-color: #c1d82f;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

#hero-spotlights .info {
  background-color: #e6e9c8;
  padding: 10px 30px 15px 30px;
  border-top: 8px solid #c1d82f;
  border-right: 4px solid #c1d82f;
  border-bottom: 8px solid #c1d82f;
  border-left: 4px solid #c1d82f;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

#hero-spotlights .col-sm-4:first-child .info {
  border-left: 8px solid #c1d82f;
}

#hero-spotlights .col-sm-4:last-child .info {
  border-right: 8px solid #c1d82f;
}

#hero-spotlights h3.spotlight-title {
  color: #1c2637;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 0;
}

.cta-link a:hover {
  text-decoration: underline;
}

.cta-link i.fa {
  position: relative;
  left: 2px;
  display: inline-block;
  font-size: 0.95em;
}

#hero-spotlights .cta-link:after {
  position: relative;
  left: 2px;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 14px;
  content: "\f138";
}

.jumbotron .section {
  padding: 24px 0 0;
  background-color: #162738; /*FALLBACK*/
  background-color: rgba(22,39,56,0.8);
}

.jumbotron .section p {
  color: #fcfcfc;
  text-align: center;
  line-height: 1.28;
}
.ie8 #hero.jumbotron {
  height: 625px;
  overflow: hidden;
}
.jumbotron .hero-text { height:130px; overflow: hidden;}
.spotlight {
  margin-bottom: 40px;
}



/* ==========================================================================
   Content Blocks
   ========================================================================== */

.content-block {
  background-color: #f2f2f3;
  color: #7c7b7c;
}

.content-item {
  margin-top: 30px;
}

.content-block span.top-feature-left {
  display: inline-block;
  width: 25%;
  border-top: 2px solid #c1d82f;
  margin-right: 20px;
  position: relative;
  top: -12px;
}

.content-block span.top-feature-right {
  display: inline-block;
  width: 25%;
  border-top: 2px solid #c1d82f;
  margin-left: 20px;
  position: relative;
  top: -12px;
}

.content-block .column__2 span.top-feature-left,
.content-block .column__2 span.top-feature-right {
  top: -10px;
}

.content-block .column__3 span.top-feature-left,
.content-block .column__3 span.top-feature-right {
  top: -30px;
}

#featured-icon {
  color: #4073ad;
  border: 2px solid #c1d82f;
  border-radius: 40px;
  font-size: 40px;
  padding: 10px;
  background-color: transparent;
  -webkit-transition: color 200ms ease-out, background-color 200ms ease-out;
  -moz-transition: color 200ms ease-out, background-color 200ms ease-out;
  -o-transition: color 200ms ease-out, background-color 200ms ease-out;
  -ms-transition: color 200ms ease-out, background-color 200ms ease-out;
  transition: color 200ms ease-out, ackground-color 200ms ease-out;
}

/*
.content-item:hover #featured-icon {
  color: #4073ad;
  background-color: #c1d82f;
  -webkit-transition: color 200ms ease-in, background-color 200ms ease-in;
  -moz-transition: color 200ms ease-in, background-color 200ms ease-in;
  -o-transition: color 200ms ease-in, background-color 200ms ease-in;
  -ms-transition: color 200ms ease-in, background-color 200ms ease-in;
  transition: color 200ms ease-in, background-color 200ms ease-in;
}
*/

#featured-icon.fa-calendar-o {
  font-size: 36px;
  width: 64px;
  height: 64px;
  padding-top: 12px;
}

.blog-icon#featured-icon {
  background-image: url('../img/blog-icon.svg');
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: 60% 68%;
  width: 64px;
  height: 64px;
}

.no-svg .blog-icon#featured-icon {
  background-image: url('../img/blog-icon.png');
}

.content-block h2 a {
  color: #4073ad;
  padding-bottom: 4px;
}

.content-block p {
  color: #c4ccdf;
}

.content-block a {
  color: #4073ad;
  -webkit-transition:all 200ms ease-out;
  -moz-transition:all 200ms ease-out;
  -o-transition:all 200ms ease-out;
  transition:all 200ms ease-out;
}

.content-block a:hover {
  text-decoration: underline;
  color: #162738;
  -webkit-transition:all 200ms ease-in;
  -moz-transition:all 200ms ease-in;
  -o-transition:all 200ms ease-in;
  transition:all 200ms ease-in;
}

.content-block .posted {
  color: #7c7b7c;
}

.content-block .btn-default {
  color: #fff;
}

.content-block .btn-default:hover {
  color: #162738;
}

.content-block .news-feed-title,
.content-block .event-item,
.content-block .blog-feed-entry {
  padding-left: 0;
}

.content-block .news-feed-title h4,
.content-block .blog-feed-entry h4 {
  margin-top: 0;
  margin-bottom: 20px;
}

.content-block .media:first-child {
  margin-top: 0;
}

.content-block .media-date {
  font-size: 12px;
}

.content-block .blog-img {
  margin-top: 8px;
}

#node-9 #page-content {
  padding-top: 50px;
}

#block-views-events-block {
  margin-bottom: 20px;
}

#block-views-events-block-2 {
  margin-bottom: 20px;
}

.field-collection-item:nth-child(3n+1) {
  clear: left;
}

/* ==========================================================================
   Interior Hero
   ========================================================================== */

.interior-hero {
  min-height: 130px;
  /*background: #6991c2 url('../img/banner.jpg') no-repeat center;*/
  background: #c0d9f1 url('../img/banner.jpg') no-repeat center;
  background-size: cover;
  padding: 40px 0;
}

.interior-hero h1 {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 47px;
  line-height: 1.3em;
  color: #162738;
  text-transform: none;
  text-shadow: 1px 1px #c4ccdf;
}

.interior-hero .lead, .interior-hero p {
  color: #4073ad;
  font-size: 22px;
  line-height: 1.3em;
  margin-top: 10px;
  margin-bottom: 24px;
}

/* ==========================================================================
   Blockquotes
   ========================================================================== */

.testimonial-content blockquote {
  padding: 0 0 50px;
  margin: 10px 20px 20px;
  font-size: 17.5px;
  border-left: none;
  background-image: url('../img/blockquote.svg');
  background-size: 100% 40px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.no-svg .testimonial-content blockquote {
  background-size: 100% auto;
  background-image: url('../img/blockquote.png');
}

/* Disabled because the design direction was changed */
/*
.testimonial-content blockquote:before {
  font-family: 'FontAwesome';
  font-size: 18px;
  color: #4073AD;
  content: "\f10e";
  padding: 8px 7px 6px 7px;
  border: 2px solid #c1d82f;
  border-radius: 20px;
  margin-left: -20px;
}
.testimonial-content blockquote p {
  text-indent: 22px;
  margin-top: -20px;
  margin: -20px 0 4px 0;
  font-size: 18px;
  font-weight: 700;
  color: #162738;
}
*/

.testimonial-content i.fa {
  font-size: 18px;
  color: #4073AD;
  padding: 8px 7px 6px 7px;
  border: 2px solid #c1d82f;
  border-radius: 20px;
  margin-left: 18px;
}

.testimonial-title {
  font-size: 12px;
  color: #162738;
  background-color: #c1d82f;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 10px;
  position: relative;
  top: -3px;
}

.testimonial-content blockquote p {
  font-size: 18px;
  font-weight: 700;
  color: #162738;
  margin-top: 6px;
}

/* ==========================================================================
   Lists
   ========================================================================== */

.resources-list {
  background-color: #f6f7f9;
  padding: 20px 10px 10px 20px;
}

.resources-list h4 {
  margin-top: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.region-content li {
  color: #7c7a7b;
  line-height: 26px;
  text-indent: -5px;
}

.region-content ul {
  padding-left: 30px;
}

.region-content ul li {
  list-style: none;
}

.region-content ul li:before {
  position: relative;
  right: 8px;
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 16px;
  line-height: 10px;
  content: "\f101";
  color: #4073ad;
}

.region-content #clients ul li:before {
  content: none;
}

.region-content ol {
  counter-reset: item;
  list-style: none;
}

.region-content ol li::before {
  content: counter(item) ". ";
  counter-increment: item;
  color: #4073ad;
  position: absolute;
  left: 1.4em;
  width: 2.14285714em;
  text-align: center;
}

ul.pagination li:before {
  content: "";
}

.pagination a {
  border-color: #c1d82f;
}

.pagination>li>a, 
.pagination>li>span {
  color: #7c7a7b;
  background-color: #fff;
  border-color: #c1d82f;
}

.pagination>.active>a,
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus,
.pagination>li>a:hover, 
.pagination>li>span:hover, 
.pagination>li>a:focus, 
.pagination>li>span:focus {
  color: #162738;
  background-color: #c1d82f;
  border-color: #c1d82f;
}

.pagination>.disabled>span,
.pagination>.disabled>span:hover, 
.pagination>.disabled>span:focus, 
.pagination>.disabled>a, 
.pagination>.disabled>a:hover, 
.pagination>.disabled>a:focus {
  color: #7c7a7b;
  background-color: #fff;
  border-color: #c1d82f;
  cursor: default;
}

.region-content ol li.search-result::before {
  left: 0;
}

.search-result h3.title {
  padding-top: 5px;
}

/* ==========================================================================
   Card Styling
   ========================================================================== */

.card-intro {
  position: relative;
  min-height: 190px;
  padding: 35px 15px 45px;
}

.card-content.no-expand .card-intro {
  padding-top: 45px;
}

.expand-section .expand {
  padding-top: 10px;
  padding-right: 10px;
  text-transform: uppercase;
}

.expand-section .expand-default .fa-plus-circle {
  position: relative;
  top: 1px;
}

.expand-section .expand-collapse .fa-minus-circle {
  position: relative;
  top: 1px;
}

#page-text,
#overview,
#main-body {
  padding: 50px 0 0;
}

.card-logo img {
  width: 100%;
  height: auto;
}

/* ==========================================================================
   Events Page Styling
   ========================================================================== */

.bg-feature {
  font-size: 14px;
  color: #162738;
  background-color: #c1d82f;
  padding: 7px 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  /*position: relative;*/
  /*left: 45px;*/
}

/*
.next-event-tag:before {
  font-family: FontAwesome;
  content: "\f133";
  color: #4073ad;
  border: 2px solid #c1d82f;
  border-radius: 40px;
  padding: 7px 8px;
  position: relative;
  top: 24px;
}
*/

/*
.bg-feature:after {
  content: "";
  width: 38px;
  height: 38px;
  background: url('../img/accent.png');
  position: relative;
  display: inline-block;
  top: 13px;
  right: -38px;
}
*/

.feat-event-title {
  margin-top: 0;
}

.event-link {
  margin-top: 20px;
  margin-bottom: 20px;
}

.view-events .view-header {
  padding-left: 15px;
}

#block-views-events-block .news-item {
  height:60px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* ==========================================================================
   Button Styling
   ========================================================================== */

.btn-primary {
  border-radius: 0;
  border: none;
  background-image: none;
  filter: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #4073ad;
  -webkit-transition:background-color 200ms ease-out;
  -moz-transition:background-color 200ms ease-out;
  -o-transition:background-color 200ms ease-out;
  transition:background-color 200ms ease-out;
}

.btn-primary:hover {
  background-color: #162738;
  -webkit-transition:background-color 200ms ease-in;
  -moz-transition:background-color 200ms ease-in;
  -o-transition:background-color 200ms ease-in;
  transition:background-color 200ms ease-in;
}

.btn-default {
  border-radius: 0;
  border: none;
  background-image: none;
  filter: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #fff;
  -webkit-transition:background-color 200ms ease-out;
  -moz-transition:background-color 200ms ease-out;
  -o-transition:background-color 200ms ease-out;
  transition:background-color 200ms ease-out;
}

.btn-default:hover {
  color: #4073ad;
  background-color: #e9e9e9;
  -webkit-transition:background-color 200ms ease-in;
  -moz-transition:background-color 200ms ease-in;
  -o-transition:background-color 200ms ease-in;
  transition:background-color 200ms ease-in;
}

a.btn {
  text-decoration: none;
}

a.btn-primary {
  color: #fff;
}

a.btn-default {
  color: #4073ad;
}

.blog-read-btn {
  background: #ffffff;
  color: #7c7a7b !important;
  border: 2px solid #c1d82f;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  padding: 6px 12px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.42857143;
  margin-top: 20px;
  -webkit-transition:all 200ms ease-in;
  -moz-transition:all 200ms ease-in;
  -o-transition:all 200ms ease-in;
  transition:all 200ms ease-in;
}

.blog-read-btn:after {
  font-family: FontAwesome;
  content: " \f138";
}

.blog-read-btn:hover {
  background: #c1d82f;
  border-color: #c1d82f;
  color: #162738 !important;
  -webkit-transition:all 200ms ease-in;
  -moz-transition:all 200ms ease-in;
  -o-transition:all 200ms ease-in;
  transition:all 200ms ease-in;
}

.btn-link {
  text-align: left;
  padding-left: 0;
}

/* ==========================================================================
   FAQ Styling
   ========================================================================== */

.panel-default {
  background-color: #fff;
  -webkit-transition:background-color 200ms ease-out;
  -moz-transition:background-color 200ms ease-out;
  -o-transition:background-color 200ms ease-out;
  transition:background-color 200ms ease-out;
}

.panel-default:hover {
  background-color: #f6f7f9;
  -webkit-transition:background-color 200ms ease-in;
  -moz-transition:background-color 200ms ease-in;
  -o-transition:background-color 200ms ease-in;
  transition:background-color 200ms ease-in;
}

.panel-default.active {
  background-color: #f6f7f9;
}

.panel>.panel-body {
  padding: 15px 15px 15px 0;
}
.panel {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow:none;
  -o-box-shadow:none;
  -ms-box-shadow:none;
}

.node-sectioned-faq .interior-hero {
  margin-bottom: 30px;
}

.faq-question h4 {
  color: #4073ad;
}

.faq-question .fa {
  float: right;
}

/* ==========================================================================
   Leadership Styling
   ========================================================================== */

.node-type-t702 .section-img img {
  position: relative;
  z-index: 100;
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  border: 9px solid #c1d82f;
  border-radius: 350px;
}

p.certifications {
  margin-top: 10px;
}

/*
p.certifications {
  font-style: italic;
  color: #162738;
}
*/

/* Disabled to switch the styling */
/*
.node-type-t702 h2 {
  font-weight: 700;
}

em.sub-heading {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

p.certifications span {
  font-size: 14px;
  color: #162738;
  background-color: #c1d82f;
  padding: 7px 10px;
  text-transform: uppercase;
  font-weight: 700;
}
*/

.node-type-t702 h2 {
  font-weight: 700;
  line-height: 1.4;
}

em.sub-heading {
  font-size: 14px;
  color: #162738;
  background-color: #c1d82f;
  padding: 7px 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
}

p.certifications span {
  font-size: 18px;
  font-weight: 400;
  color: #162738;
}

/* ==========================================================================
   Blog & News Styling
   ========================================================================== */

h3.blog-title-feature {
  font-size: 34px;
}

h3.blog-title-feed {
  font-size: 28px;
}

h3.blog-title-feed a,
h3.blog-title-feature a {
  font-weight: 400;
  text-transform: none;
  color: #4073ad;
  -webkit-transition:color 200ms ease-out;
  -moz-transition:color 200ms ease-out;
  -o-transition:color 200ms ease-out;
  transition:color 200ms ease-out;
}

h3.blog-title-feed a:hover,
h3.blog-title-feature a:hover {
  color: #162738;
  -webkit-transition:color 200ms ease-in;
  -moz-transition:color 200ms ease-in;
  -o-transition:color 200ms ease-in;
  transition:color 200ms ease-in;
}

.blog-info {
  color: #B0B0B0;
  text-transform: uppercase;
  padding: 10px 0;
  font-size: 14px;
}

.blog-text-feature, .blog-text {
  font-size: 16px;
  line-height: 26px;
}

.page-news .views-row a img {
  width: 100%;
  height: auto;
}

.index-image img {
  width: 100%;
  height: auto;
}

.blog-pop-feed .row {
  margin-top: 14px !important;
  margin-bottom: 14px !important;
}

aside .block {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 30px;
}

.views-exposed-form {
  font-size: 22px;
}

#block-system-main .col-sm-4.col-md-3 img {
  width: 100%;
  height: auto;
}

/* ==========================================================================
   General Body Content Styling
   ========================================================================== */

h3.section-title {
  margin-top: 0;
}

.section-icon {
  padding: 5px 0 0 0;
  height: 52px;
}

.section-icon img {
  height: 40px;
  width: 40px;
  float: right;
}

#objectives .section-text {
  display: table;
  height: 52px; 
  overflow: hidden;
}

#objectives .section-text p {
  display: table-cell;
  vertical-align: middle;
}

#objectives .section-set {
  border-bottom: 1px solid #ddd;
}

#objectives .section-set:last-child {
  border-bottom: none;
}

.media {
  margin-bottom: 15px;
}

.media:first-child {
  margin-top: 15px;
}

.section h3 {
  font-size: 22px;
  line-height: 1.28;
}

.section h3 a {
  color: #4073ad;
}

.section h3 a:hover {
  text-decoration: underline;
  color: #162738;
}

.feature-cta a h3 {
  color: #4073ad;
  margin-top: 0;
  text-align: center;
}

.feature-cta a h3:hover {
  color: #162738;
  text-decoration: underline;
}

section#tech {
  padding-top: 0;
}

section#tech .section {
  padding-top: 0;
}

.feature-img img,
.field-collection-item img {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.section-img img {
  width: 80%;
  height: auto;
  float: right;
}

#overview a:link {
  text-decoration: underline;
}

#overview a:hover {
  text-decoration: none;
}

.seminars #overview {
  padding: 0 0 40px;
}

.seminars #testimonials {
  margin-top: 20px;
}

/* ==========================================================================
   CTA Styling
   ========================================================================== */

.page-cta {
  background: #f2f2f4;
}

.page-cta .cta-text {
  color: #4073ad;
  font-size: 24px;
  line-height: 1.4em;
  margin-bottom: 30px;
}

.page-cta .btn-default {
  font-size: 18px;
  background-image: none;
  filter: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #7c7a7b;
  background-color: transparent;
  border: 2px solid #c1d82f;
  border-radius: 0px;
  padding: 6px 18px 6px 12px;
  -webkit-transition: color 200ms ease-out, background-color 200ms ease-out;
    -moz-transition: color 200ms ease-out, background-color 200ms ease-out;
    -o-transition: color 200ms ease-out, background-color 200ms ease-out;
    -ms-transition: color 200ms ease-out, background-color 200ms ease-out;
    transition: color 200ms ease-out, background-color 200ms ease-out;
}

.page-cta .btn-default:after {
  position: relative;
  left: 6px;
  top: -1px;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 14px;
  content: "\f138";
}

.page-cta .btn-default:hover {
  text-decoration: none;
  color: #162738;
  background-color: #c1d82f;
  border-color: #c1d82f;
  -webkit-transition: color 200ms ease-in, background-color 200ms ease-in;
    -moz-transition: color 200ms ease-in, background-color 200ms ease-in;
    -o-transition: color 200ms ease-in, background-color 200ms ease-in;
    -ms-transition: color 200ms ease-in, background-color 200ms ease-in;
    transition: color 200ms ease-in, background-color 200ms ease-in;
}

/* ==========================================================================
   Footer
   ========================================================================== */
/* FOOTER */

#footer {
    background-color: #333;
    border-top: none;
    padding-bottom: 30px;
    padding-top: 30px;
    color: #FFF;
}
#footer a {color: #FFF; text-decoration: none; }
/* FOOTER MENU OVERRIDES FOR DROPDOWNS */

#footer .footer-menu ul > li { 
  float: left; 
  list-style: none; 
  padding: 0 10px 0 0; 
  margin:0;
  width: 16.667%;
}
#footer .footer-menu ul li a { 
  display: block; 
  padding: 3px 15px 3px 0; 
  color: #FFF; 
  font-size: 14px;
  white-space: inherit; 
}

#footer .footer-menu ul li a:hover { color: #CCC; background: inherit; }

.footer-menu ul > li.expanded {
  font-weight: 700;
}

.footer-menu ul > li.expanded > ul.dropdown-menu > li {
  float: none!important;
  display: block;
  width: 100%!important;
}
.footer-menu ul > li > ul.dropdown-menu {
  position: relative;
  top: auto;
  display: block!important;
  background: inherit;
  box-shadow: none;
  padding-top: 0;
}
.footer-menu span.caret { display: none;}

.copyright {
  color: #979797;
  margin: 20px 0 0;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
}
.copyright a { font-size: 24px; }
.copyright a:hover { color: #DDD!important;}
#footer {
  background-color: #162738;
}

#footer .dropdown-menu>.active>a, 
#footer.dropdown-menu>.active>a:hover, 
#footer .dropdown-menu>.active>a:focus {
background-color: transparent;
}

#footer .block-title {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 7px;
}
.social { 
  width: 40px; 
  height: 40px; 
  text-indent: 999px;
  overflow: hidden;
  display: inline-block;
  margin: 0 5px;
  -webkit-transition:all 200ms ease-in;
  -moz-transition:all 200ms ease-in;
  -o-transition:all 200ms ease-in;
  transition:all 200ms ease-in;

}
.social:hover { 
  opacity: 0.7;
  -webkit-transition:all 200ms ease-in;
  -moz-transition:all 200ms ease-in;
  -o-transition:all 200ms ease-in;
  transition:all 200ms ease-in;
}
.social-fb { background: url(images/icon-fb.png) center no-repeat scroll;}
.social-in { background: url(images/icon-in.png) center no-repeat scroll;}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (max-width: 991px) {
  #hero.jumbotron { height: auto; overflow: visible;}
  .global-nav {
    display: none;
  }
  .navbar-inverse {
    min-height: 50px;
  }
  .navbar-brand {
    height: 50px;
    padding: 12px 15px 8px;
  }
  .navbar-brand img {
    height: 25px;
    width: auto;
  }
  .navbar-inverse .navbar-nav>li>a {
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .interior-hero h1 { font-size: 28px; }
  .interior-hero .span,
  .interior-hero p { 
    font-size: 14px;
  }
  .card-content .expand-section {
    background: #4073ad;
  }
  .expand-section .expand {
    color: #fff;
  }
  .social-block { text-align: center;}

  /* FOOTER MENU OVERRIDES */
  .footer-menu {display: none;}

  .copyright {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
  .jumbotron h1, .jumbotron .h1 {
    font-size: 49px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    padding: 14px 15px 8px;
  }
  h1#home-title {
    margin-top: 0;
  }
  #hero-spotlights {
    margin-top: 14px;
    padding-bottom: 0;
  }
  #hero-spotlights img {
    width: 80px;
    height: 80px;
    margin: 0;
    float: right;
    border-width: 4px;
  }
  #hero-spotlights .info {
    background-color: transparent;
    padding: 3px 0 12px;
    border: none;
  }
  #hero-spotlights a:hover img {
    background-color: transparent;
  }
  #hero-spotlights a:hover .info {
    background-color: transparent;
  }
  .jumbotron p {
    font-size: 14px;
  }
  .spotlight .spotlight-text p {
    margin-bottom: 6px;
  }
  .spotlight .cta-link {
    margin-bottom: 20px;
  }
  .page-header {
    margin: 30px 0 0;
  }
  .interior-hero {
    min-height: 100px;
    padding: 0;
  }
  .view-id-news_feed .views-row, .view-id-blog .views-row {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  h3.blog-title-feature {
    font-size: 24px;
    margin-top: 0;
  }
  h3.blog-title-feed {
    font-size: 24px;
  }
  .section h3 {
    font-size: 18px;
  }
  .blog-text-feature, .blog-text {
    font-size: 14px;
    line-height: 24px;
  }
  #page-text, #overview, #main-body {
    padding: 30px 0 0;
  }
  .content-item .row:nth-child(n+3) .news-feed-title,
  .content-item .views-row:nth-child(n+3) .views-field-title,
  .content-item .row:nth-child(n+3) .blog-feed-entry {
    display: none;
  }
  .node-type-t702 .section-img img {
    width: 250px;
    height: 250px;
  }
  #block-views-events-block .news-item {
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .card-logo img {
    width: 100%;
    height: auto;
  }
  .feature-img img,
  .section-img img,
  .field-collection-item img {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .field-collection-item {
    margin-bottom: 30px;
  }
  /* FOOTER MENU OVERRIDES */
  .footer-menu {display: none;}
  
}